
  <body>
  <div class="wrapper" >
    <div class="container-fluid">
             <div class="row"><div class="text-center brand" data-toggle="modal" data-target="#Usuario">
         <img src="./assets/logo.jpg" alt="" width="55vw" style="border-radius: 50px;"/>&nbsp; <a href="/" style="text-decoration: none;">Thunderbolt+</a>
       </div>
           <div class="col top-social-icons " style="float: right;">
             
             <ul class="list-unstyled list-inline top-icon" style="float: right;">
        
           <li><a href="" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
               <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li class="disbl"><a href="" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
               <li><a href="/login" style="width:114px; background-color:#000000;border-radius:45px; color: #ffffff;"><i class="fa fa-user"></i>&nbsp;Login</a></li>
             </ul> 
           </div>
 
             </div>
         </div>
     
 </div>
       <!--- navbar--> 
