<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Thunderbolt+ | <%= page %></title>
  <link rel="shortcut icon" href=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./css/style-nom.css"/>
<link rel="stylesheet" type="text/css" href="./css/style.css"/>
<link rel="stylesheet" type="text/css" href="./css/ind.css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
<style>


</style>
</head>
<body>
 <% include partials/navbar %>

<div class="container-fluid">
  <div class="row">  <div class="col-6">
    <div class="container tlk1" style="margin-top:90px;padding: 50px">
      <h3>AI Powered TB Chest X-Ray Solution</h3>
<h5>Our solution, entails using AI(Convolutional Neural Network (CNN)) to 
  classify chest X-ray images in real time to return immediate results to a Digital Radiography reducing a patient’s 
  wait time facilitating immediate treatment reducing TB deaths in Africa. </h5>
  <h3 style=" text-align:center;padding:15px;width:224px; background-color:#14cdee;border-radius:45px; color: #383737;"><a href="/about">About Us</a></h3>
</div>
  </div>
    <div class="col-4">
      
      <div class="container" style="margin-top:90px">
   
    
        <!-- Showcase -->
        <header class="showcase">
          <h2>AI in Telehealthcare</h2>
          <p>
           See our latest models
          </p>
          <a href="#" class="btn">
            Learn more
          </a>
        </header>
    
         
        </div>
    </div>
  </div>
<div class="container-fluid capper">
  <div class="row wenam">
    <div class="col" style>5000+ </div>
    <div class="col" style>90% Model accuracy</div>
    <div class="col" style>Built to augment the process</div>
    <div class="col" style>1Billion potential smiles</div>
    </div>
  </div>
</div>
       
        <div class="container-fluid bar">
          <div class="row">
            <h4>Join the Inventors </h4>
            <p>We are changing the wordl one step at a time</p>
          </div>
        </div>
    
      <script src="./js/slim-min.js"></script>
      <script src="./js/bootstrap.bund.js"></script>
      <script src="./js/slick.js"></script>
       <script  src="./js/script.js"></script>
      </body>
      </html>
