<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>The Tribe</title>
  <link rel="shortcut icon" href=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./css/style-nom.css"/>
<link rel="stylesheet" type="text/css" href="./css/style.css"/>
<link rel="stylesheet" type="text/css" href="./css/ind.css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
<style>
</style>
</head>
<body>

  <div class="wrapper" >
    <div class="container-fluid">
             <div class="row"><div class="text-center brand" data-toggle="modal" data-target="#Usuario">
         <img src="./assets/logo.jpg" alt="" width="55vw" style="border-radius: 50px;"/>&nbsp; <a href="/" style="text-decoration: none;">Thunderbolt+</a>
       </div>
           <div class="col top-social-icons " style="float: right;">
             
             <ul class="list-unstyled list-inline top-icon" style="float: right;">
           
           <li><a href="" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
               <li><a href="" target="_blank"><i class="fa fa-instagram"></i></a></li>
               <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
               <li><a href="" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
               <li><a href="/login" style="width:114px; background-color:#000000;border-radius:45px; color: #ffffff;"><i class="fa fa-user"></i>&nbsp;Login</a></li>
             </ul> 
           </div>
 
             </div>
         </div>
     
 </div>
       <!--- navbar--> 

<div class="container-fluid">
  <div class="row"> 
     <div class="col-sm-6">
    <div class="tlk1" >
      <h3>AI Powered Tuberculosis Chest X-Ray Solution</h3>
<h5>Our solution, entails using Computer Vision(Convolutional Neural Network (CNN)) to classify chest X-ray images of patients suffering from tuberculosis in real time.</h5>
  <h3 class="brodax"><a href="/about">About Us</a></h3>
</div>
  </div>
    <div class="col-sm-4">
      
      <div class="container tlk2">
   
    
        <!-- Showcase -->
        <header class="showcase">
          <h2>AI in Telehealthcare</h2>
          <p>
           See our latest models
          </p>
          <a href="#" class="btn">
            Learn more
          </a>
        </header>
    
         
        </div>
    </div>
  </div>
  <div class="row"> 
<div class="container-fluid capper">
  <div class="row wenam">
    <div class="col-md" style>5000+ </div>
    <div class="col-md" style>90% Model accuracy</div>
    <div class="col-sm" style>Built to augment the process</div>
    <div class="col-sm" style>1Billion potential smiles</div>
    </div>
  </div>
</div>
</div>
<div class="container-fluid bar">
<div class="row">
  <h4>Join the Inventors </h4>
  
</div>
</div>

<script src="./js/slim-min.js"></script>
<script src="./js/bootstrap.bund.js"></script>
</body>
</html>
