<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Thunderbolt+ | <%= page %></title>
  <link rel="shortcut icon" href=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./css/style-nom.css"/>
<link rel="stylesheet" type="text/css" href="./css/style.css"/>
<link rel="stylesheet" type="text/css" href="./css/main.css"/>
<link rel="stylesheet" type="text/css" href="./css/login.css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
<style>
</style>
</head>

<% include partials/navbar %>
               <!--- navbar--> 
               <div class="wrapping">
<div class="container logcn" >
    <div class="row">
        <div class="col-sm-8 oda">
          <img src="/img/3156784-01.png">
        </div>
        <div class="col-sm-4 locas login">
        <h1>Login</h1>
        <br>
        <form action="">
            <input type="text" name="u" placeholder="Enter Pass ID"  />
            <input type="password" name="p" placeholder="Enter Passkey"  />
            <button type="submit" class="btn btn-primary btn-block btn-large">Sign in</button>
        </form>

</div>
</div>

         
</div></div>
</body>
</html>
