<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Thunderbolt+ | <%= page %></title>
  <link rel="shortcut icon" href=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./css/style-nom.css"/>
<link rel="stylesheet" type="text/css" href="./css/style.css"/>
<link rel="stylesheet" type="text/css" href="./css/ind.css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
<style>


</style>
</head>
<body>
<% include partials/navbar %>

       <!--- navbar--> 
<div class="container logcn" >
    <div class="row">
        <div class="col"></div>
        <div class="col">
       <div class="login" style="margin: 0 auto;">
        <h1>Login</h1>
        <form action="dashbd.html">
            <input type="text" name="u" placeholder="Pass ID"  />
            <input type="password" name="p" placeholder="Passkey"  />
            <button type="submit" class="btn btn-primary btn-block btn-large">Sign in</button>
        </form>
    </div></div>
    <div class="col"></div>
</div>

         
</div>
<script  src="./js/script.js"></script>
</body>
</html>
