<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Thunderbolt+ | <%= page %></title>
  <link rel="shortcut icon" href=""/>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" href="./css/style-nom.css"/>
<link rel="stylesheet" type="text/css" href="./css/style.css"/>
<link rel="stylesheet" type="text/css" href="./css/login.css"/>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
<style>
</style>
</head>
<body>
    <div class="wrapper" >
        <div class="container-fluid">
        <div class="row">
        <div class="text-center brand" data-toggle="modal" data-target="#Usuario">
        <img src="./assets/logo.jpg" alt="" width="55vw" style="border-radius: 50px;"/>&nbsp; <a href="/" style="text-decoration: none;">Thunderbolt+</a>
        </div>
        <div class="col top-social-icons ">
          
          <ul class="list-unstyled list-inline top-icon" style="float: right;">
        
        <li><a href="" target="_blank"><i class="fa fa-facebook-f"></i></a></li>
            <li><a href="" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li><a href="" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="" target="_blank" ><i class="fa fa-linkedin"></i></a></li>
            <li ><a href="/login" style=" width:114px; background-color:#000000;border-radius:45px; color: #ffffff;"><i class="fa fa-user"></i>&nbsp;Login</a></li>
          </ul> 
        </div>
        
        </div>
        </div>
        
        </div>
               <!--- navbar--> 
               <div class="wrapping">
<div class="container logcn" >
    <div class="row">
        <div class="col-sm-8 oda">
          <img src="/img/3156784-01.png">
        </div>
        <div class="col-sm-4 locas login">
        <h1>Login</h1>
        <br>
        <form action="dashboard">
            <input type="text" name="u" placeholder="Enter Pass ID"  />
            <input type="password" name="p" placeholder="Enter Passkey"  />
            <button type="submit" class="btn btn-primary btn-block btn-large">Sign in</button>
        </form>

</div>
</div>

         
</div></div>
</body>
</html>