@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
*{
   font-family: 'Roboto', sans-serif;
}

body{
   
 background-color: #fff;
 color: #3b3b3b;
  
}

.modal-backdrop {
  position:unset !important;
}
.wrapper{ font-weight: bold; background-color: #fff; text-align: center;
   font-family: 'Courier New', Courier, monospace; padding:30px; height: 7vh;
}

.brand a{
  color: #686868; font-size: 2.7em;
  font-weight: 700; 
text-shadow: 0 3px 6px rgba(51, 51, 51, 0.07), 0 2px 4px rgba(63, 63, 63, 0.09)
}

.top-social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.top-social-icons li
{
  display:inline-block;
  margin-bottom:2px
}
.top-social-icons a i{
  margin-top:8px
}
.top-social-icons a{
 background-color: #14cdee;
  color:#ffffff;
  font-size:16px;
  display:inline-block; line-height:18px;
  width:34px;
  height:34px;
  margin-bottom: 14px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.top-social-icons a:active,.top-social-icons a:focus,.top-social-icons a:hover
{
  color:#fff;
}
.top-social-icons.size-sm a
{
  line-height:24px;
  height:24px;
  width:24px;
  font-size:14px
}
.top-social-icons .fa-facebook-f:hover{
color:blue
}
.top-social-icons .fa-instagram:hover{color:rgb(255, 0, 157)}
.top-social-icons .fa-twitter:hover{color:rgb(7, 205, 255)}
.top-social-icons .fa-linkedin:hover{color:rgb(0, 119, 255)}
.top-social-icons a:hover
{
  background-color: #f1f1f1;
  z-index: 1; 
  box-shadow: 0 1px 10px rgba(7, 205, 255 1.2) ;
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

@media(max-width: 768px){
  .wrapper{ height: 15vh; padding-right:3px}

  .brand a{font-size: 1.8em;
  }
  .top-social-icons{
margin-left:4px; margin-top: 6px
  }
  .top-social-icons li
  {
    display:inline-block;
    margin-bottom:2px;margin-left:4px
  }
  .top-social-icons a{
    line-height:18px;
    width:29px;
    height:29px;
    margin-bottom: 10px;
  }
 
}
  